* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}

.container {
    display: flex;
    position: relative;
    font-size: 25px;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px 20px 20px;
    max-width: 300px;
    width: 100%;
    /* height: 200px; */
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
    height: 80px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    color: black;
    border-radius: 12px;
    text-align: right;
    font-size: 25px;
    pointer-events: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    grid-gap: 10px;
    font-size: 20px;
    
}

.buttons button {
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    
}

.buttons button:active {
    transform: scale(0.99);
}

.operator {
    background-color: black;
    color: gold;
}